{
 "presets": [
   "react",
   ["env", {
     "targets": {
       "browsers": ["last 2 versions"],
       "node": "current"
     },
     "debug": false,
     "useBuiltIns": true // reduces `babel-polyfill` in `main.jsx` to a subset of polyfills
   }],
   "stage-2"
 ]
}
